<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Storystrap
                    <p class="lead">A sample book app with Node.js</p>
                </h1>
            </div>
        </div>
    </div>

</div>
